<app-modal-container
    title="Update the competition"
    modalId="update-competition-modal"
    titleId="update-competition-title"
    [formGroup]="competitionForm"
    [isLoading]="isLoading"
    submitLabel="Update"
    cancelLabel="Cancel"
    (onSubmit)="onSubmit()"
>
    <div class="grid grid-cols-2 gap-y-10 gap-x-4">
        <app-default-input
            label="Starting time"
            formControlName="startTime"
            inputId="stating-time-id"
            inputType="text"
            specialType="time"
            [errors]="competitionErrors.startTime"
        ></app-default-input>
        <app-default-input
            label="Ending time"
            formControlName="endTime"
            inputId="ending-time-id"
            inputType="text"
            specialType="datetime"
            [errors]="competitionErrors.endTime"
        ></app-default-input>
        <app-default-input
            label="Amount"
            formControlName="amount"
            inputId="amount-id"
            inputType="number"
            [step]="0.01"
            [errors]="competitionErrors.amount"
        ></app-default-input>
        <app-default-input
            label="Max number of participants"
            formControlName="numberOfParticipants"
            inputId="participants-id"
            inputType="number"
            [errors]="competitionErrors.numberOfParticipants"
        ></app-default-input>
    </div>
</app-modal-container>
