<div
    data-te-ripple-init
    data-te-ripple-color="light"
    class="group block w-full p-4 relative text-neutral-50 rounded border border-neutral-300 dark:border-neutral-700 bg-[url('/assets/images/other/spearfishing.jpg')] bg-no-repeat bg-cover bg-center overflow-hidden transition-all duration-300 hover:border-neutral-300 hover:drop-shadow-black-sm hover:dark:drop-shadow-white-sm before:absolute before:bg-gradient-to-b before:from-neutral-950/30 before:via-neutral-950/80 before:to-neutral-950 before:inset-0 before:backdrop-blur before:z-0 before:transition-all before:duration-300 before:hover:backdrop-blur-none"
>
    <div
        class="mt-10 relative translate-y-3/4 transition-all duration-300 group-hover:translate-y-0 [&>p]:text-sm [&_span]:font-semibold"
    >
        <h3 class="mb-4 text-2xl font-medium font-lilita-one">{{ member.name + ' ' + member.familyName }}</h3>
        <p><span>Accession Date:</span> {{ member.accessionDate }}</p>
        <p><span>Nationality:</span> {{ member.nationality }}</p>
        <p><span>Identity Document:</span> {{ member.identityDocument }}</p>
        <p><span>Identity Number:</span> {{ member.identityNumber }}</p>
    </div>
</div>
