<app-content-container>
    <app-content-container-header>
        <app-default-dropdown
            label="Filter by"
            dropdownId="competitions-filter"
            [list]="filter"
            [current]="currentFilter"
            (sendItem)="setFilter($event)"
        ></app-default-dropdown>
        <div>
            <form (ngSubmit)="searchFn()" class="flex gap-1">
                <app-two-way-input
                    label="Search"
                    inputId="search-id"
                    inputType="search"
                    [(value)]="search"
                ></app-two-way-input>
                <app-default-button>
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="w-[18px] h-[18px]"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
                        />
                    </svg>
                </app-default-button>
            </form>
        </div>
        <div>
            <app-default-button
                type="button"
                label="Add competition"
                data-te-toggle="modal"
                data-te-target="#competition-modal"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-6 h-6 mr-2"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M12 4.5v15m7.5-7.5h-15"
                    />
                </svg>
            </app-default-button>
        </div>
    </app-content-container-header>
    <div class="grid grid-cols-2 gap-4">
        <ng-container *ngIf="isLoading; else content">
            <app-loading-or-other-container class="col-span-2">
                <div
                    class="inline-block h-8 w-8 animate-spin rounded-full border-4 border-solid border-current border-r-transparent align-[-0.125em] motion-reduce:animate-[spin_1.5s_linear_infinite]"
                    role="status"
                >
                    <span
                        class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]"
                        >Loading...</span
                    >
                </div>
            </app-loading-or-other-container>
        </ng-container>
        <ng-template #content>
            <ng-container *ngIf="competitionsArray.length > 0; else notFound">
                <app-competition-card
                    *ngFor="let competition of competitionsArray"
                    [competition]="competition"
                ></app-competition-card>
            </ng-container>
            <ng-template #notFound>
                <app-loading-or-other-container class="col-span-2">
                    <p>No competition found.</p>
                </app-loading-or-other-container>
            </ng-template>
        </ng-template>
    </div>
    <app-pagination
        *ngIf="competitions && showPagination"
        [pagesCount]="competitions.data.totalPages"
        [currentPage]="competitions.data.number"
        [sizeOptions]="sizeOptions"
        sizeId="competitions-page-size"
        sizeLabel="Size"
        [size]="size"
        (sizeChange)="setSize($event)"
        (emitPage)="goToPage($event)"
    ></app-pagination>
    <app-create-competition
        (refreshCompetitionsList)="getAllCompetitions(competitionParams)"
    ></app-create-competition>
</app-content-container>
