<div>
    <div class="flex justify-end items-center gap-4">
        <app-default-button type="button" label="Update"></app-default-button>
        <app-default-button
            type="button"
            label="Delete"
            btnStyle="danger"
        ></app-default-button>
    </div>
    <div class="grid grid-cols-2 text-lg [&_span]:font-semibold">
        <p><span>Competition code:</span> El Jadida</p>
        <p>
            <span>Status:</span
            ><span class="!font-normal text-danger"> Ongoing</span>
        </p>
        <p><span>Location:</span> El Jadida</p>
        <p><span>Date:</span> 11-11-1115</p>
        <p><span>Stating time:</span> 11-11-1111 12:33</p>
        <p><span>Ending time:</span> 11-11-1111 12:33</p>
        <p><span>Number of participants:</span> 345</p>
        <p><span>Amount:</span> 34.55</p>
    </div>
</div>
